body {
    background-color: rgb(241, 107, 107);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);

    padding: 15px;
    margin: auto;

    width: 500px;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
}

.botao{
    border: none;
    border-radius: 5px;
    box-shadow: 3px 4px 10px rgb(99, 98, 98);

    height: 25px;

    background-color: rgb(241, 107, 107);
    color: white;
    font-size: 18px;
}

.botao:hover {
    background-color: rgb(168, 75, 75);
}

#botao {
    display: flex;
    justify-content: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}